*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
/src/.idea/codeStyles/Project.xml
/src/.idea/gradle.xml
/src/.idea/misc.xml
/src/.idea/render.experimental.xml
/src/gradle/wrapper/gradle-wrapper.properties
